
body{
	margin:0 auto;
}
.header{
	height:50px;
	width:100%;
	margin:0 auto;
	background-color:$headercolor;
.container{
	.row{
		.col-6{
			box-sizing:border-box;
			text-align:center;
			margin:0px;
			ul{
				box-sizing:border-box;
			
				width:auto;
				margin:0;
				margin-right:340px;
				
				padding-top:11px;
				li{
					heigt:30px;
					width:30px;
					display: inline-block;

                    margin-left:5px;
                    text-align:center;
                    padding:5px;
                    text-highgt:10px;
                    &:hover{
                    	background-color:white;
                    	color:$headercolor;
                 svg{
                 	color:black;
                 }
                    }

                       a{
						color:white;


					}
					
				}

			}
			div{
				margin:0px;
				display:inline-block;
				margin-top:16px;
				span{
					color:white;
				}
				svg{
					color:white;
				}
			}

		}

	}
}

}

#navbar{
	margin:0px;
	box-sizing:border-box;
	margin-top: 20px;
	.container{
		.row{
			.col-4{
  
     text-align:center;
     .dropdown-content{
        display: none;
                      position: absolute;
                       background-color: #f9f9f9;
                       min-width: 600px;
                       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                      z-index: 1;
     }
				
			}




			.col-8{
			
                 &:nth-child(6){
                .dropdown-content{
                    right:0;
                     min-width:500px;
                     ul{
                     li{
                     display:inline-block;
                     }
                     }
                   }
                  }   

                   .dropdown{
                  display:inline-block;
                  position: relative;
                  margin-left: 10px;
                   
                   &:hover{
                   	.dropdown-content{
                   		 display: block;
                   	}
                       .col-4 .dropdown-content{
                    
                       display: block;
                    
                    }
                   }
                  
                   .dropbtn{
                   	 a{
                   	 	text-decoration: none;
                   	 	color: $headercolor;
                      font-size:13px;
                      font-weight:bold;
                      margin-right:15px;
                   	 	&:hover{
                   	 		color: red;
                   	 	}
                   	 }
                   }
                   
                   


                   .dropdown-content{
                       display: none;
                      position: absolute;
                       background-color: #f9f9f9;
                       min-width: 260px;
                       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                      z-index: 1;

                     ul{
                     	list-style: none;
                     	margin: 0px;
                     	li{
                             text-decoration: none;
                             margin: 0px;
                             margin-bottom:15px;
                          }
                           a{
                       text-decoration: none;
                       color:$headercolor; 
                       margin-left: 0px;
                       font-size: 12px;

                       &:hover{
                       	color: red;
                       }
                      }
                          
                  }  
                 
              }

         }

				       
			}
		}

	}
}