body{
	margin: 0;
}
#info{
height: 55px;
margin: 0 auto;
background-color: #151515;
}
.supplier{
	width: 300px;
	float: left;
	margin-top: 13px;
	margin-left: 100px;
}
.supplier p{
	color: #a59256;
	margin: 0px;
	font-size: 15px;
	margin-top: 4px;
}
.supplier div{
	width: 25px;
	height: 25px;
	float: left;
	color: #f79a0d;
	padding-top: 4px;
}
 .supplier div i{
	margin-top: 4px;
}
.iso{
	width: 300px;
	float: left;
	margin-top: 13px;
	margin-left: 60px;
}
.iso p{
	color: #a59256;
	margin: 0px;
	font-size: 15px;
	margin-top: 4px;
}
.iso div{
    width: 25px;
	height: 25px;
	float: left;
	color: #f79a0d;	
	padding-top: 3px;
}
.phone{
	width: 300px;
	float: left;
	margin-top: 13px;
	margin-left: 260px;
}
.phone div{
	width: px;
	height: 25px;
	float: left;
	color: #f79a0d;
	padding-top: 2px;
}
.phone p{
	margin: 0px;
	font-size: 15px;
	margin-top: 4px;
}
.phone p a{
	text-decoration: none;
	color: #a59256;
}
#header{
	height: 78px;
	margin: 0;
	width: 100%;
		
}
.logo{
height: 50px;
width: 165px;
margin-top: 30px;
margin-left: 114px;
}

.navbar{
	height: 44px;
	width: 966px;
	margin-top: -49px;
	margin-left: 333px;
}
.navbar ul{
	margin: 0px;
font-weight: bold;
}
.navbar ul a{
	font-size: 15px;
	display: inline-block;
    height: 45px;
	width: 90px;
	margin-left:0px;
	list-style-type: none;
	text-decoration: none;
	color: #151515;
	border :1px solid transparent;
}
.navbar ul a li{
	text-align: center;
	line-height: 47px;
}
.navbar ul a:last-child{
width: 150px;
margin-left: 125px;
background-color: #f79a0d;
}
.navbar ul a:last-child:hover{
	background-color:#151515;
	color: white; 
}
.navbar ul a:hover{
	border:1px solid grey;
}
#slide{
	height: 600px;
	width: 100%;
	position: absolute;
	background-color: #f79a0d;
	background-image:url(images/parallax-4.jpg);
	box-sizing: border-box;
}
#slide .photo{
	position: relative;
	}
#slide .photo  div{
	height: 114px;
	width: 105px;
	position: relative;
}
.photo h1{
font-size: 80px;
width: 50px;
margin-top: 90px;
margin-left: 20px;
color: white;
}
.photo p{
	margin: 0px;
    width: 350px;
    margin-left: 160px;
    line-height: 30px;
    box-sizing: border-box;
    color: white;
    font-size: 20px;
}
.sbutton{
	height: 114px;
	position: absolute;
	margin-left: 1139px;
	margin-top: -108px;
	position: absolute;

}
.sbutton .b1{
	height: 60px;
float: left;
	text-align: center;
	top: 0px;
	left: 3px;
	font-size: 50px;
	color:#151515;
	background-color: white;
}
.sbutton .b2{
	height: 60px;
	top: -114px;
	left: 108px;
	text-align: center;
	font-size: 50px;
    float: right;
	color:#151515;
	background-color: white;
	border-left: black solid 1px;
}
.b1 a, .b2 a{
	height: 100px;
	width: 100px;
line-height: 121px;
	color:#151515;
}
.b1 a:hover, .b2 a:hover{
	color:#ffc000;
}
#whiteplace{
	height: 100px;
	width: 100%;
	margin: 0 auto;
	background-color: black;
	position: relative;
	
}